# Server
PORT=3000

# Logging
LOG_LEVEL=debug                  # 可選: error, warn, info, debug, verbose

# Database Config
DB_HOST=your_host
DB_PORT=5432
DB_USERNAME=your_user
DB_PASSWORD=your_password
DB_DATABASE=your_database
DB_SYNCHRONIZE=true              # true 僅建議開發環境使用
DB_ENABLE_SSL=true               # 若部署於 Render、Heroku 等通常需設為 true

# Google Config
GOOGLE_AUTH_CLIENTID=your_googleAuthClientId
GOOGLE_AUTH_CLIENT_SECRET=your_googleAuthClientSecret
GOOGLE_AUTH_REFRESH_TOKEN=your_googleAuthRefreshToken
SEND_USER=your_email             # 系統寄送的 email 帳號
GOOGLE_CALLBACK_URI=your_googleCallbackUrl

# OpenAI Config
OPENAI_API_KEY=your_openaiApiKey

# JWT Config
JWT_EXPIRES_DAY=your_jwt_expires_day    # 可用 7d 或 604800 (秒)，視你程式處理方式
JWT_SECRET=your_jwt_secret

# 藍新 Newebpay Config
HASHIV=your_hashiv
HASHKEY=your_hashkey
MerchantID=your_merchantId
Version=your_version
Host=your_host
ReturnUrl=your_returnUrl
NotifyUrl=your_notifyUrl

# Redis Config
REDIS_URL=your_redisUrl          # 部署的 Redis URL

# Firebase Config
FIREBASE_STORAGE_BUCKET=your_firebase_storage_bucket
FIREBASE_SERVICE_ACCOUNT=your_firebase_service_account_path_or_json_string
